* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  background-color: #F0FDF4;
}

header {
    background-color: #34D399;
    color: #064E3B;
    text-align: center;
    padding: 10px;
    border: 5px solid #065F46;
    border-radius: 20px;
    margin-bottom: 18px;
}

#imagem-logo {
  display: block;
  margin: 10px auto;
  width: 19%;
  margin-bottom: 0px;
  margin-top: -5px;
}

nav a{
  display: inline-block;
  background-color: #065F46;
  color: #F0FDF4;
  padding: 12px 20px;
  border-radius: 10px;
  margin: 0px 5px;
  text-decoration: none;
}

nav{
  margin-top: 10px;
}

main {
    background-color: #34D399;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 4px solid #065F46;
    width: 900px;
    color: #F0FDF4;
    margin: 0px auto;
}

.apresentacao {
    background-color: #065F46;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 4px solid #065F46;
    width: 800px;
    color: #F0FDF4;
    margin: 0px auto;
}

img {
  display: block;
  margin: 10px auto;
  width: 50%;
  border-radius: 20px;
}

#btn-prox {
  background-color: #065F46;
  color: #F0FDF4;
  padding: 12px 20px;
  border-radius: 10px;
  display: block;
  width: 300px;
  text-align: center;
  margin: 0px auto;
  margin-top: 15px;
  text-decoration: none;
}

.sobre {
    background-color: #065F46;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 4px solid #065F46;
    width: 800px;
    color: #F0FDF4;
    margin: 0px auto;
    margin-bottom: 12px;
}

.sobre h2 {
    margin-bottom: 10px;
}

#separacao {
    background-color: #059669;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 4px solid #059669;
    width: 850px;
    margin: 0px auto;
    margin-bottom: 25px;
}

#bi {
  width: 900px;
}

#esquerda {
  text-align: left;
  margin-left: 270px;
}

#margemcima {
  margin-top: 25px;
}

#esquerda2 {
  width: 300px;
  text-align: left;
  margin: auto;
}